/*Медиа запросы блока header*/

@media (max-width: 500px) {

    h1 {

        font-size: 34px;
        font-weight: 700;
        line-height: 112%;
        letter-spacing: 0.02em;
    }


    .header {

        height: auto;
    }

    .header__text {

        gap: 39px;
    }

    .header_btn {
        max-width: 118px;
        width: 100%;
        padding: 8px 21px 5px 20px;
        letter-spacing: -0.01em;
    }

}

@media (max-width: 450px) {

    .menu__header {
        position: fixed;
        top: 0px;
        background-color: rgba(243, 239, 232, 0.6);
        width: 100%;
        max-height: 23px;

    }

    .logo {
        display: none;
    }

    .logo2 {
        display: inline;
    }

    .header__h1 {

        padding-top: 124px;
        padding-bottom: 52px;

    }

    .menu {
        max-width: 124px;
        max-height: 23px;
        font-size: 16px;
        font-weight: 400;
        line-height: 142%;
        color: rgba(27, 31, 43, 1);
    }

    .logo {
        width: 133px;
        height: 22px;
    }

    .menu__bar {
        display: none;
    }

    p {
        max-width: 310px;
        max-height: 69px;

    }

}

/*Блок reviews(отзывы)*/

@media (max-width: 500px) {

    .reviews_p {
        margin-top: -6px;
        max-width: 318px;
    }

    .card__mary {
        width: 318px;
        height: 408px;
        padding-top: 23px;
    }

    .text__mary {
        font-size: 16px;
        max-width: 277px;
    }

    .reviews__cards {
        align-items: center;
    }

    .name_rev {
        padding: 0px;
    }

    .card_nprev {
        gap: 12px;
        max-height: 59px;
        height: 100%;
        margin-top: 13px;
    }

    .name_p {
        font-size: 23px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.04em;
        color: #1B1F2B;
    }

    .card__pavel {
        max-width: 318px;
        max-height: 592px;
        padding-top: 25px;
    }

    .text__pavel {
        font-size: 16px;
    }
}


/*Блок Create, Собери свой тур*/

@media (max-width: 500px) {

    .create__form {
        gap: 0px;
        padding: 17px 20px 40px 16px;
        max-width: 318px;
        min-height: 1110px;
        border-radius: 30px;
    }

    .form__input {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .drop_img {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .h2_anchorform {
        padding-bottom: 22px;
    }

    .forms {

        width: 278px;
        height: 43px;
        margin: 0px;
        padding: 6px;
        font-size: 16px;
        font-weight: 400;
        line-height: 142%;
    }

    option {
        font-size: 16px;
        font-weight: 400;
        line-height: 142%;
    }

    .cr__p {

        line-height: 142%;
        font-size: 16px;
        font-weight: 400;
        max-width: 318px;

    }

    .create__header {

        padding-bottom: 40px;

    }

    .create__btns {

        display: inline-flex;
        margin-top: 3px;
    }

    .create__btn {
        width: 134px;
        height: 47px;
        margin-right: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 142%;
    }

    .create__inp {
        width: 134px;
        height: 47px;
        font-size: 16px;
        font-weight: 400;
        line-height: 142%;
    }

    .forms_comment {

        width: 278px;
        height: 132px;
        padding: 0px;

    }

    .form__inline {

        display: flex;
        flex-direction: column;
        max-width: 278px;
        height: auto;
        gap: 25px;
    }

    .rad_lab {
        width: 20px;
        height: 20px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rad_lab:checked+.radio::before {
        content: " ";
        display: block;
        width: 7px;
        height: 7px;
    }

    .radio_ch {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .form_age {
        max-width: 278px;
        width: 100%;
        margin-top: 3px;
        gap: 5px;
    }

    .age {
        font-size: 16px;
        font-weight: 400;
        line-height: 142%;
    }

}

/*медиа запросы на блок choose*/

@media (max-width: 500px) {

    .main__choose {
        padding-bottom: 75px;
    }

    h2 {

        font-weight: 700;
        font-size: 34px;
        line-height: 112%;
        padding-top: 75px;
        padding-bottom: 25px;
        letter-spacing: 0.02em;

    }

    h3 {
        font-size: 23px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.04em;
    }

    .card_price {

        margin-top: 12px;
        font-size: 16px;
        letter-spacing: -0.01em;
    }

    .card_link {

        font-weight: 700;
        font-size: 16px;
        line-height: 142%;
        padding: 0px;
    }

    .choose__cards {

        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
    }

    .choose {

        font-weight: 700;
        font-size: 16px;
        line-height: 142%;
    }

    .choose_orange {
        margin-top: 3px;
        padding-bottom: 0px;
    }

    .choose__menu {

        font-size: 16px;
        font-weight: 700;
        line-height: 142%;
        max-width: 282px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 11px;
        padding-bottom: 0px;
        height: auto;
        margin-top: 2px;
    }

    .card {
        
        min-width: 318px;
        width: 100%;
        min-height: 318px;
        height: 100%;
        border-radius: 20px;
        
    }

    .card_l {
        padding: 0px 25px 25px 25px;
    }

    .card_icon {
        margin-top: -3px;
    }

    .linear-gradient {
        border-radius: 0px;
        min-width: 318px;
        min-height: 318px;
        height: 100%;
    }

    .card_text {

        margin: 0px;
        padding: 25px 25px 0px 25px;
    }

    label {
        font-size: 16px;
        font-weight: 400;
    }

    .form__in {

        gap: 8px;
    }

    .ch_p {
        max-width: 248px;
        padding-left: 10px;
    }

    .check__btn {
        max-width: 278px;
        margin-top: 2px;
    }

    .control {
        gap: 29px;
    }
}



/*Медиа запросы блока photo (Фото путешественников)*/

@media (max-width: 500px) {

    .p_photo {
        margin-top: -3px;
        max-width: 318px;
    }

    .photos__traveler {
        max-width: 320px;
    }

    .photo_grid4 {
        gap: 13px;
    }

    .photo1 {
        width: 150px;
        height: 110px;
    }

    .photo4 {
        width: 150px;
        height: 110px;
    }

    .photo5 {
        width: 99px;
        height: 110px;
    }

    .photo8 {
        width: 99px;
        height: 110px;
    }

    .photo13 {
        width: 99px;
        height: 110px;
    }

    .photo9 {
        width: 154px;
        height: 110px;
    }

    .photo10 {
        width: 154px;
        height: 110px;
    }
}

/*Блок history (Истории путешественников)*/

@media (max-width: 500px) {

    .h2_hisanchor {
        padding-top: 75px;
        padding-bottom: 20px;
    }

    .card_his {
        max-width: 318px;
        max-height: 455px;
        border-radius: 20px;
    }

    .history__h2 {
        max-width: 318px;
        margin-top: -3px;
    }

    .cardhis_text {
        max-width: 263px;
        max-height: 230px
    }

    .his_h3 {
        max-width: 150px;
    }

    .history_text {
        font-size: 16px;
        padding-top: 22px;
    }

    .card_list {
        font-size: 15px;
    }

    .clist_ul {
        display: flex;
        flex-direction: column;
        letter-spacing: 0.02em;
        margin-top: 12px;
        padding-left: 25px;

    }

    .linhis {
        margin-bottom: 8px;
    }
}


/*Блок conclusion Заключение*/

@media (max-width: 500px) {

    .img_con {
        max-width: 130px;
        height: 133px;
    }

    .con_h3 {
        max-width: 291px;
    }

    .con_text {
        gap: 21px;
    }
}

/*Блок Подвал */

@media (max-width: 500px) {

    .foot_links {
        gap: 10px;
    }

    .foot_t {
        gap: 10px;
    }

}