/*Медиа запросы блока header*/

@media (max-width: 780px) {

    .menu__bar {
        display: none;
    }

    h2 {

        font-size: 34px;
        line-height: 38px;
    }

}

@media (max-width: 520px) {

    .choose__menu {

        padding-bottom: 50px;
        font-size: 16px;
        font-weight: 700;
        justify-content: center;

    }

}

@media (max-width: 600px) {

    h1 {

        font-size: 34px;
        font-weight: 700;
        line-height: 38px;
    }

    .header__text {

        max-width: 310px;
    }

}

/*Медиа запросы блока create*/

@media (max-width: 520px) {


    .form {

        margin: 0px;
    }

    .forms {

        max-width: 278px;
        max-height: 43px;
    }

    .form__input {

        gap: 0px;
    }


}