/*Медиа запросы блока header*/

@media (max-width: 780px) {

    .menu__bar {
        display: none;
    }

    h2 {

        font-size: 34px;
        line-height: 38px;
    }

}

@media (max-width: 520px) {

    .choose__menu {

        padding-bottom: 50px;
        font-size: 16px;
        font-weight: 700;
        justify-content: center;

    }

}

@media (max-width: 600px) {

    h1 {

        font-size: 34px;
        font-weight: 700;
        line-height: 38px;
    }

    .header__text {

        max-width: 310px;
    }

}

/*Медиа запросы блока create*/

@media (max-width: 520px) {


    .form {

        margin: 0px;
    }

    .forms {

        max-width: 278px;
        max-height: 43px;

    }

    .form__input {

        gap: 0px;
    }


}

@media (max-width: 960px) {

    .main__content {

        gap: 75px;
    }

    .form__input {
        display: flex;
        flex-direction: column;

    }

    .create__form {

        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 318px;
        max-height: max-content;
        border-radius: 30px;


    }

    .form {

        margin: 20px 20px 40px 20px;

    }

    .forms {

        width: 278px;
        height: 43px;
        margin: 0px;
        padding: 10px;
    }

    h2 {

        font-size: 34px;
        font-weight: 700;

    }

    .cr__p {

        height: 46px;
        width: 318px;
        font-size: 16px;
        font-weight: 400;


    }

    .create__header {

        padding-bottom: 40px;
        gap: 20px;
    }

    .create__btns {

        display: inline-flex;

    }

    .create__btn {
        max-width: 134px;
        max-height: 47px;
        margin-right: 10px;
    }

    .create__inp {
        width: 134px;
        height: 47px;
    }

    .forms_comment {

        max-width: 278px;
        max-height: 132px;
        margin-bottom: 30px;
        padding: 0px;

    }

    .form__inline {

        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 30px;

    }

}

/*медиа запросы на блок choose*/

@media (max-width: 960px) {

    h2 {

        font-weight: 700;
        font-size: 34px;
        line-height: 38.08px;
        padding-top: 75px;
        padding-bottom: 25px;

    }

    h3 {
        font-size: 23px;
        font-weight: 700;
        width: 268px;
        height: 28px;
    }

    .card_price {

        margin-top: 13px;
    }

    .card_link {

        font-weight: 700;
        font-size: 16px;
        margin: 25px 25px 25px 5px;
        padding-left: 20px;
    }

    .choose__cards {

        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
    }

    .choose {

        font-weight: 700;
        font-size: 17px;
        line-height: 22.72px;
    }

    .card {

        width: 318px;
        height: 318px;

    }

    .card_text {

        margin: 25px;
    }

    label {
        font-size: 16px;
        font-weight: 400;
    }

    .form__in {

        gap: 8px;

    }

    .create__rbtn {

        padding-bottom: 30px;
    }

    .checkbox {

        font-size: 16px;
        padding-bottom: 30px;
    }

}

/*Медиа запросы блока reviews(Отзывы)*/

@media (max-width: 960px) {

    .main__reviews {

        display: flex;
        flex-direction: column;
        max-height: none;

    }

    .h2_rev {

        font-size: 34px;
        font-weight: 700;
        padding-bottom: 20px;
    }

    .reviews_p {

        font-size: 16px;
        font-weight: 400;
    }

    .reviews__cards {

        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }

    .card__rev {

        padding: 20px;
        border-radius: 20px;

    }

    .card__pavel {
        width: 318px;
        height: 592px;
    }

    .card__mary {

        width: 318px;
        height: 408px;
    }

    .text__pavel {

        max-width: 278px;
        max-height: 437px;
        line-height: 142%;

    }

    .text__mary {

        max-width: 278px;
        max-height: 253px;
        line-height: 142%;
    }

    .text_rev {
        display: flex;
        font-size: 16px;
        font-weight: 700;
        max-width: 278px;
        max-height: 253px;
    }

    .name_rev {

        padding-top: 56px;

    }

    .card_nprev {

        width: 203px;
        height: 59px;
        gap: 8px;


    }

    .name_p {

        font-size: 23px;
        font-weight: 700;

    }

    .p_rev {

        text-align: start;
        line-height: 142%;
        font-size: 16px;
        font-weight: 400;
    }


}

/*Медиа запросы блока photo (Фото путешественников)*/

@media (max-width: 960px) {

    .main__photos {
        align-items: center;
    }

    .photos__h2 {
        padding: 0px;
        max-width: 318px;
        gap: 20px;

    }

    .hide2 {

        display: none;
    }

    .h2_photo {

        font-size: 34px;
        font-weight: 700;
        line-height: 112%;
        padding: 0px;
    }

    .p_photo {

        font-size: 16px;
        font-weight: 400;
        line-height: 142%;
    }

    .photos__traveler {
        gap: 18px;
        padding-top: 50px;
    }

    .photo_grid4 {
        gap: 18px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
    }

    .photo_grid4 .img_tr {

        max-width: 150px;
    }


    .photo_grid5 {
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: fit-content;
    }

    .photo_grid5 .img_tr {

        max-width: 99px;
        
    }

    .img_tr {
        height: 110px;
        border-radius: 20px;
    }

    .photo {}


    .ph4 {
        gap: 10px;
    }
}