/*Медиа запросы блока header*/

@media (max-width: 960px) {
    .menu__header {
        max-width: 800px;
    }
}

@media (max-width: 940px) {
    .menu__list {
        gap: 40px;
    }

    h2 {
        padding-top: 100px;
    }

}

@media (max-width: 860px) {

    .menu__bar {
        gap: 20px;
    }
}

@media (max-width: 820px) {

    .menu__bar {
        display: none;
    }

    .menu__list {
        gap: 63px;
    }

    .menu__header {
        max-width: 600px;
    }
}

@media (max-width: 650px) {

    h1 {
        font-size: 34px;
        font-weight: 700;
        line-height: 112%;
        letter-spacing: 2%;
        text-align: center;
        max-width: 320px;
    }

    .header__h1 {

        padding-top: 52px;
        padding-bottom: 52px;
    }

    .p_header {

        font-size: 16px;
        font-weight: 400;
        line-height: 142%;
        max-width: 310px;
        color: white;

    }

}

@media (max-width: 620px) {
    .menu__header {
        display: flex;
        justify-content: center;
        gap: 63px;
    }
}

/*Медиа запросы блока choose Выбери свой тур*/

@media (max-width: 800px) {
    .choose__menu {

        padding-bottom: 50px;
        font-size: 16px;
        font-weight: 700;
        justify-content: center;
        max-width: 360px;
        gap: 10px;
    }
}

/*Медиа запросы блока create*/

@media (max-width: 980px) {

    .ch_p {
        padding: 0px;
        padding-left: 10px;
        text-align: left;
        display: inline-block;
    }

    .check__btn {

        display: inline-flex;
        align-items: flex-start;

    }
}

@media (max-width: 940px) {

    .create__form {

        padding: 20px 20px 20px 20px;
    }

    .form__input {
        max-width: 450px;
        align-items: center;
        gap: 30px;
    }

    .form__inline {
        display: flex;
        flex-direction: column;
        height: auto;
        max-width: 450px;
        align-items: center;
        gap: 30px;
    }

    .forms_comment {
        max-width: 389px;
        max-height: 132px;
        height: 100%;
    }

    .form_age {
        max-width: 390px;
        width: 100%;
    }

    .check__btn {
        max-width: 390px;
        width: 100%;
    }

    .checkbox {

        width: 20px;
        height: 20px;
        padding: 7px;
    }

    .ch_p {
        margin: 0px;
    }

    .create__btns {
        gap: 10px;
    }

    .create__btn {
        width: 190px;
        height: 50px;
    }

    .create__inp {
        width: 190px;
        height: 50px;
    }
}

@media (max-width: 600px) {

    .create__form {

        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 318px;
        width: 100%;
        border-radius: 30px;
        padding: 20px 20px 40px 20px;
    }
}

@media (max-width: 520px) {

    .form {

        margin: 0px;
    }

    .forms {

        max-width: 278px;
        max-height: 43px;

    }

}

/*Медиа запросы блока reviews(Отзывы)*/

@media (max-width: 940px) {

    .main__reviews {

        display: flex;
        flex-direction: column;
        max-height: none;

    }

    .h2_rev {

        font-size: 34px;
        font-weight: 700;
        padding-bottom: 20px;
    }

    .reviews__h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }

    .reviews_p {

        font-size: 16px;
        font-weight: 400;
        line-height: 142%;

    }

    .reviews__cards {

        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }

    .card__rev {

        padding: 20px;
        border-radius: 20px;

    }

    .card__pavel {
        max-width: 450px;
        width: 100%;
        max-height: 700px;

    }

    .card__mary {

        height: 500px;
        max-width: 450px;
        width: 100%;
        align-items: center;
    }

    .text__pavel {

        max-width: 380px;
        font-size: 20px;
        font-weight: 700;
        line-height: 142%;
    }

    .text__mary {

        font-size: 20px;
        font-weight: 700;
        line-height: 142%;
        max-width: 380px;
    }

    .name_rev {

        padding-top: 56px;
        display: flex;
        max-width: 380px;
        width: 100%;
    }

    .card_nprev {

        gap: 8px;
    }

    .name_p {

        font-size: 23px;
        font-weight: 700;

    }

    .p_rev {

        text-align: start;
        line-height: 142%;
        font-size: 16px;
        font-weight: 400;
    }


}

/*Медиа запросы блока photo (Фото путешественников)*/

@media (max-width: 940px) {

    .main__photos {
        align-items: center;
    }


    .hide2 {

        display: none;
    }

    .h2_photo {

        font-size: 34px;
        font-weight: 700;
        line-height: 112%;
        padding: 0px;
    }

    .p_photo {

        font-size: 16px;
        font-weight: 400;
        line-height: 142%;
    }

    .photos__traveler {
        gap: 18px;
        padding-top: 50px;
    }

    .photo_grid4 .img_tr.photo9 {
        max-width: 200px;
        max-height: 150px;
    }

    .photo10 {
        max-width: 154px;
    }

    .photo_grid4 {
        gap: 18px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .photo_grid4 .img_tr {

        max-width: 200px;
        max-height: 150px;
    }


    .photo_grid5 {
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    .img_tr {

        border-radius: 20px;
    }

    .photo1 {
        max-width: 200px;
        max-height: 150px;
    }

    .photo4 {
        max-width: 200px;
        max-height: 150px;
    }

    .photo5 {
        max-width: 130px;
        max-height: 150px;
    }

    .photo8 {
        max-width: 130px;
        max-height: 150px;
    }

    .photo13 {
        max-width: 130px;
        max-height: 150px;
    }

}

/*Блок history(истории путешественников)*/

@media (max-width: 960px) {

    .history__h2 {
        padding-bottom: 50px;
    }

    .card_icon {
        margin-top: 0px;
    }

    .his_cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card_his {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        max-height: 500px;
        background-size: cover;

    }

    .linear-gradient_his {
        padding: 30px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
    }

    .h2_history {
        font-weight: 700;
        font-size: 34px;
        line-height: 112%;
    }

    .p_history {

        font-size: 16px;
        font-weight: 400;
        line-height: 142%;
        max-width: 319px;
    }

    .his_h3 {

        padding-bottom: 0px;

    }

    .cardhis_text {

        width: 263px;
        height: 230px;
    }

    .link_socialm {

        display: none;

    }

    .history_text {

        font-size: 14px;
        padding-top: 20px;
    }

    .card_list {
        font-size: 16px;
        font-weight: 400;
        line-height: 142%;
    }

    .history_link {

        padding-top: 63px;
    }

    .linhis {

        align-items: center;
        height: 26px;
        padding-left: 0px;
        margin-left: 0px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 15px;
        font-size: 16px;
        font-weight: 700;
        line-height: 142%;
    }

    .radio {
        width: 20px;
        height: 20px;
    }
}

/*Блок conclusion (заключение)*/

@media (max-width: 960px) {

    .main__conclusion {
        padding-bottom: 75px;
        padding-top: 75px;
    }

    .conclusion_elements {

        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .img_con {

        border-radius: 20px;
        max-width: 230px;
    }

    .con_text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .con_h3 {

        text-align: center;
    }

    .h3_con {
        max-width: 450px;
    }

    .p_con {
        font-size: 16px;
        font-weight: 400;
        line-height: 142%;
        text-align: center;
    }

}

/*Блок footer(подвал)*/

@media (max-width: 960px) {

    .footer_text {

        display: flex;
        flex-direction: column;

    }

    .p_foot {

        font-size: 16px;
        font-weight: 400;
        line-height: 142%;
    }

    .foot_links {
        font-size: 16px;
        font-weight: 400;
        line-height: 142%;
        gap: 15px;
    }

    .foot_link {

        gap: 5px;
    }

    .foot_t {
        gap: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_text {
        height: 98px;
    }
}