* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/*Шапка сайта header*/



.header {
    background-image: url("Photos/header-img.png");
    height: 831px;

}

.header__menu {

    height: 88px;

}

.menu__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 28px 0px;


}

.menu__bar {
    display: inline-flex;
    gap: 50px;

}

.menu {

    font-size: 20px;
}

.menu:hover {

    text-decoration: underline;
}

/*Медиа запрос,Шапка сайта header*/

@media (max-width: 1024px) {

    .menu__bar {
        gap: 30px;
    }
}

@media (max-width: 450px) {

    .menu__list {
        position: sticky;
    }

}

@media (max-width: 780px) {

    .menu__bar {
        display: none;
    }
}

@media (max-width: 360px) {

    .logo {
        width: 133px;
        height: 22px;
    }

    .menu__bar {
        display: none;
    }

    .menu {
        width: 124px;
        height: 23px;
        font-size: 16px;
    }

}