* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/*Шапка сайта header*/



.header {

    background-image: url("Photos/header-img.png");
    height: 831px;
    background-repeat: no-repeat;
    

}

.header__menu {

    height: 88px;

}

.menu__list {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 28px 0px;


}

.menu__bar {

    display: inline-flex;
    gap: 50px;

}

.menu {

    font-size: 20px;
}

.menu:hover {

    text-decoration: underline;
}

.header__text {

    display: flex;
    flex-direction: column;
    color: white;
    max-width: 768px;
    align-items: center;
    gap: 50px;


}

h1 {
    font-size: 96px;
    text-align: center;
    margin: auto;
    max-height: 315px;
    line-height: 104px;


}

.header_btn {
    width: 118px;
    height: 34px;
    padding: 5px 20px 5px 20px;
    gap: 10px;
    border-radius: 10px;
    background-color: white;
    color: #1B1F2B;
    font-size: 16px;
    line-height: 24px;

}


p {
    max-height: 56px;
    font-size: 20px;
    text-align: center;
    max-width: 562px;
    margin: 0;
    line-height: 28px;
    font-weight: 400;


}

.header__h1 {

    display: flex;
    justify-content: center;
    padding-top: 119px;

}

/*Медиа запрос,Шапка сайта header*/

@media (max-width: 1024px) {

    .menu__bar {
        gap: 30px;
    }
}

@media (max-width: 450px) {

    .menu__list {
        position: sticky;
    }

}

@media (max-width: 780px) {

    .menu__bar {
        display: none;
    }
}

@media (max-width: 360px) {

    .logo {
        width: 133px;
        height: 22px;
    }

    .menu__bar {
        display: none;
    }

    .menu {
        width: 124px;
        height: 23px;
        font-size: 16px;
    }

}

/* Main - основное содержимое сайта */

.main {

    background-color: #F9F7F4;
}