* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/*Шапка сайта header*/

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("Photos/header-img.png");
    height: 831px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.header__menu {

    height: 88px;

}

.menu__list {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 0px;
    gap: 182px;
    max-height: 88px;
}

.logo2 {

    display: none;
}

.menu__bar {

    display: inline-flex;
    gap: 50px;

}

.menu {

    font-size: 20px;
}

.menu:hover {

    text-decoration: underline;
}

.header__text {

    display: flex;
    flex-direction: column;
    color: white;
    max-width: 768px;
    align-items: center;
    gap: 50px;


}

h1 {
    font-size: 96px;
    text-align: center;
    margin: auto;
    max-height: 315px;
    line-height: 110%;
    font-weight: 700;

}

.header_btn {
    width: 118px;
    height: 34px;
    padding: 5px 20px 5px 20px;
    gap: 10px;
    border-radius: 10px;
    background-color: white;
    color: #1B1F2B;
    font-size: 16px;
    line-height: 24px;
    border: none;

}

.header_btn:active {

    background-color: #F8E6BE;
    color: black;
}

.header_btn:hover {

    background-color: #EFA501;
    color: white;
}


p {
    max-height: 56px;
    font-size: 20px;
    text-align: center;
    max-width: 562px;
    margin: 0;
    line-height: 142%;
    font-weight: 400;
}

.header__h1 {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 119px 0px 119px 0px;


}

/* Main - основное содержимое сайта */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9F7F4;
    margin: 0;
    
}

/* Блок choose your tour*/

h2 {

    color: black;
    font-size: 59px;
    font-weight: 700;
    margin: 0;
    padding-top: 135px;
    padding-bottom: 35px;
    text-align: center;
}

.choose {

    color: #1B1F2B;
    font-weight: 700;
    font-size: 23px;
}

.choose_orange {

    color: #EFA501;
    border-bottom: 2px solid #EFA501;
    font-size: 23px;
    font-weight: 700;

}

.choose__menu {

    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    height: 34px;
    align-items: center;
}

.main__choose {

    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    align-items: center;
    
}

.main__content {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 135px;
}

.choose:hover {

    text-decoration: underline;
}

/* Блок choose__cards */

.choose__cards {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1170px;
    gap: 30px;


}

.card {

    width: 370px;
    height: 531px;
    border-radius: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: inline-block;
    transition: background-size 300ms ease;
    overflow: hidden;
    background-size: 100% auto;
    background-position: center;

}

.card:hover {

    cursor: pointer;
}

.card_text {

    margin: 50px;
}

h3 {

    font-weight: 500;
    font-size: 35px;
    line-height: 42.7px;
    margin: 0;
    padding-bottom: 16px;
    max-height: 87px;
}

.linear-gradient {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    height: 100%;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}

.card_price {

    font-weight: 400;
    font-size: 17px;
    color: white;
    line-height: 142%;
    text-align: left;
    margin-top: 16px;
}

.card_link {
    font-size: 23px;
    font-weight: 700;
    margin: 50px;
    line-height: 122%;
    width: 199px;
    height: 42px;
    margin: 0px 50px 50px 30px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: end;
    padding-left: 20px;

}

.card_choose_img1:hover .card_link {

    background-color: #286562;
    border-radius: 50px;

}

.card_icon {

    margin-left: 15px;
}

.card_hover:hover {
    background-position: center;
    background-size: 130% auto;

}

/* Подключенные картинки блока Выбери тур */

.card_choose_img1 {
    background-image: url("Photos/Choose your tour/card tour photo-1.png");

}

.card_choose_img2 {

    background-image: url("Photos/Choose your tour/card tour photo-2.png");
}

.card_choose_img3 {

    background-image: url("Photos/Choose your tour/card tour photo-3.png")
}

.card_choose_img4 {

    background-image: url("Photos/Choose your tour/card tour photo-4.png")
}

.card_choose_img5 {

    background-image: url("Photos/Choose your tour/card tour photo-5.png")
}

.card_choose_img6 {

    background-image: url("Photos/Choose your tour/card tour photo-6.png")
}

/*------------------------------------------------------------------*/

.card:hover .card_link {

    background-color: #286562;
    border-radius: 50px;

}

.card:active .card_link {

    background-color: #EFA501;
}

/* Блок Собери свой тур*/

.main__create {

    max-height: 1245px;
    max-width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.h2_create {

    padding-top: 0px;
}

.create__header {

    padding-bottom: 100px;
}

.create__form {
    max-height: 986px;
    max-width: 1170px;
    background-color: #FFFFFF;
    border-radius: 50px;
    font-size: 20px;
    margin: 5px;

}

.forms {

    width: 500px;
    height: 68px;
    border-radius: 10px;
    border: 1px #F4F0E9;
    gap: 10px;
    background-color: #F9F7F4;
    padding: 20px;
    margin-top: 8px;
    margin-right: 30px;
    text-align: start;
    margin-bottom: 33px;


}

.forms::placeholder {

    color: #A6A6A6;
}

.forms_comment {

    height: 152px;
    width: 1030px;
}

.form__flcol {

    display: flex;
    flex-direction: column;
}

.form__inline {

    display: inline-flex;


}

.form {

    margin: 70px;
}

.form__input {

    display: flex;
    flex-direction: column;
}

.forms_comment {
    max-width: 1130px;
    max-height: 152px;
    border-radius: 10px;
    border: 1px #F4F0E9;
    gap: 10px;
    background-color: #F9F7F4;
    padding: 20px;
    margin-top: 8px;
    margin-right: 30px;
    text-align: start;
    margin-bottom: 33px;
}

.form__in {

    display: flex;
    flex-direction: column;
}


.create__rbtn {

    padding-top: 8px;
    padding-bottom: 33px;

}

label {

    color: #1B1F2B;
}

.checkbox {

    font-size: 17px;
    font-weight: 400;
    color: #A6A6A6;
    padding-bottom: 34px;
}

.dog {

    color: #1B1F2B;
}


.check__btn {

    display: flex;
    flex-direction: column;
}

.cr__p {

    color: #A6A6A6;
    font-size: 20px;
}

.create__btn {

    display: inline-block;
    width: 235px;
    height: 58px;
    border-radius: 10px;
    background-color: #286562;
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    margin-right: 30px;
}

.create__inp {

    width: 235px;
    height: 58px;
    border-radius: 10px;
    background-color: #E0F0E5;
    color: #286562;
    font-size: 20px;
    border: none;
}

option {

    color: #A6A6A6;
    font-size: 20px;
    font-weight: 400;
}

/*Блок reviews(отзывы)*/

.main__reviews {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1170px;
    max-height: 1005px;

}

.reviews__h2 {
    display: flex;
    flex-direction: column;
    width: 529px;
    height: 232px;
    align-items: center;

}

.h2_rev {

    font-size: 59px;
    font-weight: 700;
    padding-top: 0px;
    padding-bottom: 30px;
    color: #1B1F2B;
}

.reviews_p {

    font-weight: 400;
    font-size: 20px;
    color: #A6A6A6;

}

.reviews__cards {

    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    gap: 30px;
}

.card__rev {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 570px;
    height: 673px;
    background-color: #F4F0E9;
    border-radius: 50px;
    padding: 40px;
}

.text_rev {

    font-weight: 700;
    font-size: 23px;
    color: #1B1F2B;
    text-align: start;

}

.card_nprev {

    display: flex;
    flex-direction: column;
    gap: 8px;

}

.name_rev {
    display: flex;
    justify-content: space-between;
    max-width: 490px;
    max-height: 145px;
    align-items: center;

}

.name_p {

    font-weight: 500;
    font-size: 35px;
    color: #1B1F2B;
    text-align: start;
    height: 43px;
    align-content: center;

}

.p_rev {

    font-size: 17px;
    font-weight: 400;
    color: #A6A6A6;
    height: 24px;
}

.icon_rev {

    border-radius: 100px;
}

/*Блок photo (Фото путешественников)*/

.main__photos {

    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;


}

.photos__h2 {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.h2_photo {

    font-weight: 700;
    font-size: 59px;
    line-height: 124%;
    padding-top: 0px;

}

.p_photo {

    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    text-align: center;
    color: #A6A6A6;

}

.photos__traveler {
    display: grid;

    padding-top: 100px;
    gap: 30px;
}

.photo_grid4 {

    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);

}

.photo_grid5 {

    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
}

.img_tr {

    border-radius: 50px;
    width: 100%;

}

/*Блок history (Истории путешественников)*/


.main__history {

    display: flex;
    align-items: center;
    flex-direction: column;
}

.history__h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

}

.h2_history {

    padding-top: 0px;
    padding-bottom: 30px;
    line-height: 124%;
}

.p_history {

    font-size: 20px;
    font-weight: 400;
    line-height: 142%;
    color: #A6A6A6;


}

.his_cards {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.card_his {
    width: 1170px;
    height: 567px;
    border-radius: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-size 300ms ease;
    overflow: hidden;
    background-size: 100% auto;
    background-position: center;

}

.card_his:hover {
    background-size: 140% auto;
    background-position: center;
}

/*Подключенные картинки на блок История путешествий(history)*/

.history_img1 {
    background-image: url("Photos/Travel stories/story photo-1.jpg");
}

.history_img2 {
    background-image: url("Photos/Travel stories/story photo-2.jpg");
}

.history_img3 {
    background-image: url("Photos/Travel stories/story photo-3.jpg");

}

/*------------------------------------------------------------------*/

.linear-gradient_his {

    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
    height: 100%;
    padding: 60px;

}

.cardhis_text {

    display: flex;
    flex-direction: column;
    align-items: self-start;
    height: 394px;

}

h3 {

    font-size: 35px;
    font-weight: 500;
    line-height: 122%;
    padding-bottom: 37px;
}


.history_text {

    font-size: 20px;
    font-weight: 400;
    line-height: 142%;
    text-align: left;
    padding-bottom: 14px;
    max-height: none;

}

.card_list {

    font-size: 20px;
    font-weight: 400;
    line-height: 142%;
}

.history_link {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding-top: 85px;

}

.linhis {
    margin: 0px;
}

.card_his:hover .card_link {

    background-color: #286562;
    border-radius: 50px;

}

.card_his:active .card_link {

    background-color: #EFA501;
}

.link_socialm {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 142%;
    gap: 35px;

}

.link_his:hover {

    text-decoration: underline;
}

/*Блок conclusion (заключение) */

.main__conclusion {
    padding-bottom: 135px;
}

.conclusion_elements {

    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 771px;
    gap: 30px;
}

.con_img {}

.img_con {
    display: flex;
    border-radius: 50px;
}


.con_text {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.con_h3 {

    font-size: 35px;
    font-weight: 500;
    line-height: 122%;
    color: #1B1F2B;
}

.h3_con {
    padding: 0px;
}

.con_p {

    font-size: 20px;
    font-weight: 400;
    line-height: 142%;
    color: #A6A6A6;
}

.p_con {

    text-align: left;
}

.con_link {

    color: #1B1F2B;
}

/*hover conclusion*/

.con_link:hover {

    text-decoration: underline;
}

/*Блок footer(подвал)*/

.main__footer {}

.footer_text {

    height: 88px;
    background-color: #F4F0E9;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;

}

.p_foot {
    font-size: 20px;
    font-weight: 400;
    line-height: 142%;
    color: #A6A6A6;
}

.foot_link {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.foot_link:hover {
    text-decoration: underline;
}

.foot_links {
    display: inline-flex;
    max-width: 408px;
    max-height: 28px;
    gap: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 142%;
}

.foot_soc {

    color: #1B1F2B;

}